{% extends "index.html"%}

{% block title %} fresh latex {% endblock %}

{% block body%}

<div class="menu-bar">
    <a class="menu-item" href ="/">หน้าหลัก</a>
    <a class="menu-item" href ="/fresh_latex">ยางพาราสด</a>
    <a class="menu-item" href ="/raw_rubber_sheet">ยางพาราแผ่น</a>
</div>

<div>
    <h1>พยากรณ์ ราคาน้ำยางสด</h1>

    <label for="dog-names">เลือกปีที่ต้องการ:</label>
    <form action="/fresh_latex" method="POST">
        <select name="years">
            {% for year in list_year %}
                <option value="{{ year }}" {% if years_fresh == year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <button type="submit">ค้นหา</button>
    </form>
    
    <h3 name="test" style="text-align:center">ราคา {{ years_fresh }}</h3>
    {% if selected_price_ %}
        <h3 style="text-align:center">ราคายาง: {{ selected_price_ }}</h3>
    {% endif %}
    
</div>


{% endblock %}